body{
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    width: 100%;
    line-height: 80px;
    border-bottom: 5px solid rgba(0, 153, 153, 1);
    color: rgb(120, 120, 120);
    text-align: center;
    vertical-align: middle;
}

wrap {
    display: block;
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}

footer {
    display: block;
    width: 100%;
    line-height: 80px;
    color: rgb(120, 120, 120);
    text-align: center;
    vertical-align: middle;
    background-color: rgba(0, 153, 153, 1);
    bottom: 0;
}

footer > p {
    color: white;
    font-size: large;
    margin: 0 auto;
}

#container {
    padding: 15px 200px 15px 200px;
    height: 526px;
}

#contents {
    border: 1px solid gray;
    border-radius: 3vh;
    padding: 10px 40px 10px 40px;
    margin: 10px 0 0 0;
    height: auto;
}

#contents_header {
    width: 100%;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 160);
}

a:hover {
    color: rgba(67, 67, 255, 0.658);;
}

p {
    margin: 0 0 10px 0;
    font-size: small;
}

#total_board {
    font-size: medium;
}

.content {
    margin: 10px 0 0 0;
    width: 100%;
    height: 320px;
}

.content_header {
    margin: 10px 100px 10px 0;
    display: inline-block;
    width: 40%;
}

textarea {
    height: 300px;
    width: 95%;
    resize: none;
}

input[type=text]  {
    padding: 5px;
    width: 60%;
}

input[type=submit]  {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    height: 40px;
    border: 0;
    background-color: rgb(0, 153, 153);
    color: white;
    font-weight: bold;
    border-radius: 3vh;
}

input[type=button]  {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    height: 40px;
    border: 0;
    background-color: rgb(51, 102, 204);
    color: white;
    font-weight: bold;
    border-radius: 3vh;
}

td > a {
    text-align: left;
    float: left;
    width: 100%;
    padding: 0 0 0 20px;
}

#btn-content {
    width: 30%;
    padding: 10px 0 10px 0;
    margin: 0 auto;
}

h3 {
    margin: 0 0 10px 0;
}

.btn_area {
    width: 45%;
    display: inline-block;
    margin: 0 auto;
}

.board__content {
    height: 50px;
    border-bottom: 1px solid gray;
}

#contents_area{
    width: 100%;
    margin: auto;
}

#contents_top_area{
    width: 100%;
    margin: 30px 0 20px 0;
}

#div_table_area {
    width: 100%;
}

#table_area {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    height: 300px;
    border-top: 2px solid rgb(110, 110, 110);
    border-bottom: 2px solid rgb(110, 110, 110);
    padding: 0;
    border-collapse: collapse;
}

#thead_area {
    background-color: rgba(51, 102, 204, 0.5);
    border-bottom: 2px solid rgb(110, 110, 110);
}

tr {
    height: 50px;
}

#bottom_area {
    text-align: right;
}

#detail_board{
    width: 100%;
    margin-top: 20px;
}

#detail_table{
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
    padding: 0;
    border-collapse: collapse;
}

.detail_thead{
    border-bottom: 2px solid rgb(110, 110, 110);
}

.contents__content{
    border: 1px solid gray;
    height: 300px;
}

.button {
    border: none;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4vh;
}

.button1 {background-color: rgb(153, 204, 0);}
.button1:hover {background-color: rgb(204, 236, 84);}
.button2 {background-color: rgb(51, 102, 204);}
.button2:hover {background-color: rgb(120, 156, 227);}
.button3 {
    background-color: rgb(204, 102, 0);
    border-radius: 10vh;
}

#update_delete_btn{
    margin: 0 auto;
    width: fit-content;
}

#update_btn_area {
    display: none;
    margin: 0 auto;
    width: fit-content;
}

button[type=list] {
    float: right;
    background: none;
    border: none;
    font-weight: bolder;
    font-size: larger;
    color: darkblue;
}
button[type=list]:hover{
    color: #3030fc;
}

#index-container {
    text-align: center;
}

.board__index-link {
    margin: 10px;
}

#detail_board_contents_area {
    margin: 0 0 10px 0;
    height: 230px;
}

#detail_contents_info {
    height: 100%;
}

#detail_table_trTop {
    border-top: 4px solid rgb(200, 200, 200);
    text-align: center;
}

#detail_table_trBottom {
    border-bottom: 4px solid rgb(200, 200, 200);
    text-align: center;
}

.tdTitle {
    border-right: 1px solid rgb(200, 200, 200);
    border-bottom: 1px solid rgb(200, 200, 200);
    width: 15%;
}

.tdTitleInput {
    border-right: 1px solid rgb(200, 200, 200);
    border-bottom: 1px solid rgb(200, 200, 200);
    width: 35%;
}

.tdAuthorInput {
    border-bottom: 1px solid rgb(200, 200, 200);
    width: 35%;
}

.tr_bottom_td {
    border-right: 1px solid rgb(200, 200, 200);
    border-left: 1px solid rgb(200, 200, 200);
}

#detail_contents_input {
    height: 85%;
    background: none;
}

.contents_input {
    height: 100%;
}