<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="configFragment">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/gs_icon.png">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <title>Board</title>
    <!-- board CSS -->
    <link rel="stylesheet" href="/assets/css/board.css">
</head>
</html>