<!DOCTYPE html>
<html
        lang="ko"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/default" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<body>
<div layout:fragment="board">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <div id="container">
        <div id="contents">
            <form id="board_write">
                <div id="contents_header">
                    <div class="content_header">
                        <label for="board_title">제목</label><br>
                        <input type="text" id="board_title" placeholder="제목을 입력하세요.">
                    </div>
                    <div class="content_header">
                        <label for="board_author">작성자</label><br>
                        <input type="text" id="board_author" placeholder="작성자를 입력하세요.">
                    </div>
                </div>
                <div class="content" style="height: auto">
                    <label for="ir1">내용</label><br>
                    <textarea name="ir1" id="ir1" style="width:100%; height:280px;"></textarea>
                </div>
                <div id="btn-content">
                    <div class="btn_area">
                        <input type="submit" onclick="submitContents(this);" value="작성">
                    </div>
                    <div class="btn_area">
                        <input type="button" value="취소" onclick="location.href='/board/list'">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="/assets/se2/js/service/HuskyEZCreator.js" charset="utf-8"></script>
    <script type="text/javascript">
        let oEditors = [];

        $(function () {
            nhn.husky.EZCreator.createInIFrame({
                oAppRef: oEditors,
                elPlaceHolder: "ir1",
                //SmartEditor2Skin.html 파일이 존재하는 경로
                sSkinURI: "/assets/se2/SmartEditor2Skin.html",
                htParams: {
                    // 툴바 사용 여부 (true:사용/ false:사용하지 않음)
                    bUseToolbar: true,
                    // 입력창 크기 조절바 사용 여부 (true:사용/ false:사용하지 않음)
                    bUseVerticalResizer: false,
                    // 모드 탭(Editor | HTML | TEXT) 사용 여부 (true:사용/ false:사용하지 않음)
                    bUseModeChanger: false,
                    fOnBeforeUnload: function () {

                    }
                },
                fOnAppLoad: function () {
                    //textarea 내용을 에디터상에 바로 뿌려주고자 할때 사용
                    oEditors.getById["ir1"].exec("PASTE_HTML", [""]);
                },
                fCreator: "createSEditor2"
            });
        })

        function setDefaultFont() {
            let sDefaultFont = '궁서';
            let nFontSize = 24;
            oEditors.getById["ir1"].setDefaultFont(sDefaultFont, nFontSize);
        }

        const replacerFunc = () => {
            const visited = new WeakSet();
            return (key, value) => {
                if (typeof value === "object" && value !== null) {
                    if (visited.has(value)) {
                        return;
                    }
                    visited.add(value);
                }
                return value;
            };
        };

        $('#board_write').on('submit', function (event) {
            // Prevent the page from reloading
            event.preventDefault();
            oEditors.getById["ir1"].exec("UPDATE_CONTENTS_FIELD", []);

            let title = $("#board_title").val();
            let author = $("#board_author").val();
            let contents = document.getElementById("ir1").value;

            if (title === '' || author === '' || contents === '') {
                alert('빈칸이 존재합니다.');
                return;
            }

            let board = [];
            board.push({
                title: title,
                author: author,
                contents: contents
            })

            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/board/insert",
                data: JSON.stringify(board, replacerFunc()),
                dataType: 'text',
                cache: false,
                async: false,
                success: function (data) {
                    if (data === "fail!!") {
                        alert('등록 실패!!');
                        location.reload();
                    } else {
                        alert('게시글 등록!!');
                        window.location.href = "/board/list";
                    }
                },
                error: function (request, status, error) {
                    alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);

                    window.location.replace = "/board/write";
                }
            })
        });
    </script>
</div>
</body>
</html>