<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/default">
<body>
<div layout:fragment="board">
    <div id="container">
        <div class="detail_board" id="detail_board">
            <table id="detail_table">
                <tr id="detail_table_trTop">
                    <td class="tdTitle">제목</td>
                    <td class="tdTitleInput" th:text="${board.title}"></td>
                    <td class="tdTitle">작성자</td>
                    <td class="tdAuthorInput" th:text="${board.author}"></td>
                </tr>
                <tr id="detail_table_trBottom">
                    <td>조회수</td>
                    <td class="tr_bottom_td" th:text="${board.views}"></td>
                    <td class="tr_bottom_td">날짜</td>
                    <td th:text="${board.updateTime}"></td>
                </tr>
            </table>
        </div>
        <div class="detail_board_contents_area" id="detail_board_contents_area">
            <div class="detail_contents_info" id="detail_contents_info">
                <div class="contents_input">
                    <textarea id="detail_contents_input" th:text="${board.contents}" disabled></textarea>
                </div>
            </div>
        </div>
        <div id="detail_board_btn_area">
            <div id="update_delete_btn">
                <button type="submit_modify" class="button button1" onclick="modify()">수정</button>
                <button type="submit_delete" class="button button2" onclick="remove()">삭제</button>
            </div>
            <div id="update_btn_area">
                <button type="submit_modify" class="button button1" onclick="update()">완료</button>
                <button type="submit_delete" class="button button2" onclick="cancel()">취소</button>
            </div>
            <div>
                <button type="list" onclick="location.href='/board/list'">목록</button>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        const boardNo = "[[${board.boardNo}]]";

        /*
            게시글 수정 화면 전환
        */
        function modify() {
            let contentsInput = $('#detail_contents_input');
            contentsInput.attr('disabled', false);
            contentsInput.css('border', 'solid 5px #FFE4B5');

            $('#update_delete_btn').css('display', 'none');

            let btnArea_upd = $('#update_btn_area');
            btnArea_upd.css('display', 'block');
        }

        const replacerFunc = () => {
            const visited = new WeakSet();
            return (key, value) => {
                if (typeof value === "object" && value !== null) {
                    if (visited.has(value)) {
                        return;
                    }
                    visited.add(value);
                }
                return value;
            };
        };

        /*
            게시글 수정
        */
        function update() {
            let updContentInput = $('#detail_contents_input').val();

            let board = [];

            board.push({
                boardNo: boardNo,
                contents: updContentInput
            })

            const locationHref = "/board/detail/" + boardNo;

            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/board/update",
                data: JSON.stringify(board, replacerFunc()),
                dataType: 'text',
                cache: false,
                async: false,
                success: function (data) {
                    alert('게시글 수정 완료!!');
                    location.reload();
                },
                error: function (request,status,error) {
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            })
        }

        /*
            게시글 수정 취소
        */
        function cancel() {
            let contentsInput = $('#detail_contents_input');
            contentsInput.attr('disabled', true);
            contentsInput.css('border', '1px solid gray');

            $('#update_delete_btn').css('display', 'block');
            $('#update_btn_area').css('display', 'none');
        }

        /*
            게시글 삭제
       */
        function remove() {
            if (confirm("정말 삭제하시겠습니까??") == true) {
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/board/delete",
                    data: boardNo,
                    dataType: 'text',
                    cache: false,
                    async: false,
                    success: function (data) {
                        alert('게시글 삭제 완료!!');
                        window.location.href = "/board/list";
                    },
                    error: function (request,status,error) {
                        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                    }
                })
            } else {
                return false;
            }
        }
    </script>
</div>
</body>
</html>