<!DOCTYPE html>
<html
        lang="ko"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/default"
        xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div layout:fragment="board">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <div id="container">
        <div>
            <h3>글 목록</h3>
        </div>
        <hr>
        <div id="body_area">
            <div id="contents_area">
                <div id="contents_top_area">
                    <p id="total_board"> 전체 게시글: <span id="totalCntBoard" th:text="${boardSize}"></span></p>
                </div>
                <div class="board__container" id="div_table_area">
                    <table class="board__table-head" id="table_area">
                        <thead class="board__titles" id="thead_area">
                        <tr class="board__titles">
                            <th style="width: 10%" id="table_th_num" class="board__column">번호</th>
                            <th style="width: 40%" id="table_th_title" class="board__column">제목</th>
                            <th style="width: 20%" id="table_th_author" class="board__column">작성자</th>
                            <th style="width: 20%" id="table_th_date" class="board__column">작성일</th>
                            <th style="width: 10%" id="table_th_view" class="board__column">조회</th>
                        </tr>
                        </thead>
                        <tbody class="board__contents" id="board-body">
                            <tr th:if="${boardList} != null" th:each="board : ${boardList}">
                                <td th:text="${board.boardNo}"></td>
                                <td>
                                    <a th:text="${board.title}" th:href="@{/board/detail/{boardNo}(boardNo = ${board.boardNo})}"></a>
                                </td>
                                <td th:text="${board.author}"></td>
                                <td th:text="${board.updateTime}"></td>
                                <td th:text="${board.views}"></td>
                            </tr>
                            <tr th:if="${boardList} == null OR ${boardSize} == 0">
                                <td colspan="5">게시글이 없습니다.</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="board_index-container" id="index-container">
                        <div style="text-align: center; width: fit-content; height: 30px; margin: 0 auto;"
                             th:if="${boardList} != null OR ${boardSize} != 0"
                             th:with="start=${page.startPageNum}, end=${page.endPageNum}">
                            <ul>
                                <li th:if="${page.prev}" style="list-style-type: none; float: left; margin: 5px;">
                                    <a th:text="'<<'"></a>
                                </li>

                                <li th:if="${start > 1}" style="list-style-type: none; float: left;">
                                    <a th:text="'<'"></a>
                                </li>

                                <li th:each="page: ${#numbers.sequence(start, end)}" style="list-style-type: none; float: left; margin: 5px;">
                                    <a th:href="|@{/board/list?num={page} (page = ${page})}|" th:id="${page}" class="pageList" th:text="${page}"></a>
                                </li>

                                <li th:if="${end} == ${page.next}" style="list-style-type: none; float: left; margin: 5px;">
                                    <a th:href="|@{/board/list?num={page} (page = ${page.endPageNum}+1)}|" th:text="'>'"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="bottom_area">
                <a th:href="@{/board/write}" id="create_register">게시글 작성</a>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        let num = '[[${page.num}]]';
        const page = $('#'+num);

        window.onload = function () {
            page.css('color', 'red');
        }
    </script>
</div>
</body>
</html>